
@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
}
body{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    overflow-x: hidden;
}
.contenedorp {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between; 
}
.contenedorp p {
    color: rgb(0, 0, 0);
    font-family: "SF-pro-bold";
    margin-top: 3vh;
}
.filter{
    filter: invert();
}

.nova {
    width: 80px;
}

.investing-tips p{
    margin-top: 3vh;
    font-size: 4vh;
    font-family: "SF-pro-semi-bold";   
}
.container-pig{
    display: flex;
    overflow-x: scroll;
}
.dad-learn-More{
    display: flex;
    flex-direction: row;
}
.learn-More{
    display: flex;
    background: #f3f0f0;
    height: 30vh;   
    width: 90vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 5vw;
    border-radius: 4vw;
}
.learn-More P{
    margin-top: 3vh;
    font-size: 2rem;
    margin-left: 4vw;
    font-family: "SF-pro-bold";
    margin-top: 5vh;
}
.learn-More span{
    font-family: "SF-pro-regular";
    margin-left: 4vw;
    font-size: 2rem;
}
.learn-More button{
    color: white;
    background: #352566;
    width: 30vw;
    height: 6vh;
    border-radius: 5vw;
    font-size: 2rem;
    margin-left: 4vw;
    border: none;   
}

.learn-More2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #352566;
    position: relative;
    width: 30vw;
    border-top-right-radius:0vw;
    border-bottom-right-radius:16vw;
    border-top-left-radius:3vw;
    border-bottom-left-radius:3vw;
    transition: 1s;

}
.learn-More2:hover{
    box-shadow: 0px 0px 20px rgb(63, 167, 110);
    width: 32vw;
}
.images{
    width: 15vw;
    height: 15vw;
    position: relative;
}
.x{ 
    position: absolute;
    margin-left: 19vw;
    top: 0;
    margin-top: 22vh;
    width: 10vw;
}
.learn-More-cards{
    display: flex;
    position: relative;
    background: #010101f9;
    height: 85vh;   
    width: 30vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 5vw;
    border-radius: 8vw;
    overflow: hidden;
    
}
.learn-More-cards2{
    display: flex;
    position: relative;
    background: #9845cc;
    height: 85vh;   
    width: 30vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 5vw;
    border-radius: 8vw;
    overflow: hidden;
}

.learn-More-cards3{
    display: flex;
    position: relative;
    background: #a8abab;
    height: 85vh;   
    width: 30vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 5vw;
    border-radius: 8vw;
    overflow: hidden;
    margin-bottom: 10vh;
}
.learn-More-cards p{
    position: absolute;
    right: 0;
    margin-right: 5vw;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.learn-More-cards2 p{
    position: absolute;
    right: 0;
    margin-right: 5vw;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.learn-More-cards3 p{
    position: absolute;
    right: 0;
    margin-right: 5vw;
    font-size: 1rem;
    color: white;
}
.learn-More-cards span{
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}
.learn-More-cards2 span{
    margin: 0 auto;
    color: white;
    font-size: 3rem;
}
.learn-More-cards3 span{
    margin: 0 auto;
    color: white;
    font-size: 3rem;
}
.chips-cards{
    position: absolute;
    width: 90px;
    margin-top: 4vh;
    margin-left: 6vw;   
}
.chips-cards{
    position: absolute;
    width: 30px;
    margin-top: 4vh;
    margin-left: 6vw;   
}
.fondo{
    width: 55vw;
    height: 90vw;
    margin-top: 3vh;
    position: absolute;
    border-radius: 2vw;
    overflow: hidden; 
}
.fondo1{
    width: 55vw;
    height: 90vw;
    margin-top: 3vh;
    position: absolute;
    border-radius: 2vw;
    overflow: hidden; 
    filter: invert();
}
#burbuje{
    width: 55vw;
    height: 90vw;
    margin-top: 3vh;
    position: absolute;
    border-radius: 2vw;
    overflow: hidden;
    filter: invert(); 
}

#american-express{
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 105px;
}

.cost{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
}

.met-pago{
    position: absolute;
    bottom: 0;
    left: 35px;
    color: white;
    font-size: 8vw;
    margin-bottom: 4vh;
}
.footer{
    background: #201443;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 8vh;
}

.footer__ul{
    background: var(--color-4);
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    
}
.footer__ul li{
    display: flex;
    list-style: none;
    border-radius: 100%;
    height: 40px;
    width: 20px;
    align-items: center;
    justify-content: center;
}
.footer__ul img{
    width: 30px;
    margin-top: 4vh;
    transition: 0.2S;
}
.footer__ul img:hover{
    box-shadow: 0px 0px 20px;
    border-radius: 100%;
    width: 60px;
}

@media (max-width: 767px) {
    body {
        display: flex;
        width: 100%;
        min-height: 100vh;
    }
    
    .learn-More {
        width: 90vw;
        height: 18vh;
    }
    .learn-More p {
        font-size: 1rem; 
    }
    .learn-More span {
        font-size: 1rem; 
    }
    .learn-More button {
        width: 25vw;
        font-size: 0.8rem;
    }
    .learn-More-cards  {
        width: 50vw;
        height: 45vh;

    }
    .learn-More-cards2  {
        width: 50vw;
        height: 45vh;
        
    }
    .learn-More-cards3  {
        width: 50vw;
        height: 45vh;
        bottom: 5px;
    }
    .learn-More-cards span {
        font-size: 1.5rem;
    } 
    .learn-More-cards2 span {
        font-size: 1.5rem;
    }  
    .learn-More-cards3 span {
        font-size: 1.5rem;
    }   
}