@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
}
body{
    background: var(--color-primary);
}
.contenedorp {
    display: flex;
    background: rgb(3, 3, 3);
    grid-template-columns: repeat(3,1fr);
    
}
.options {
    display: flex;
    background: rgb(47, 255, 0);
    justify-content: space-between;
    grid-template-rows: 80vh 20vh;
    width: 340px;
}
.options p{
    margin-top: 5vw;
    font-family: "SF-pro-bold";
    color: rgb(16, 16, 16);
    margin-right: 54vw;
    letter-spacing: 2px;
}
.filter{
    display: flex;
    background: rgb(0, 38, 255);
    width: var(--layout-imagen-width);
}
.filter img{
    position: relative;
    margin-left: 4vw;
    width: 9vw;
}
.content__information{
    display: grid;
    background: red;
    margin-top: 10vw;
    
}
.content__information h1{
    font-family: "SF-pro-heavy";
    color: white;
}
.content__information span{
    font-family: "SF-pro-light";
    margin-top: 3vw;
    color: white;
    font-size: 10vw;
}
.conten__status {
    display: flex;
    background: blue;
    margin-top: 6vw;
    justify-content: space-between;
}
.status__savings {
    display: flex;
    
    background: green;
    flex-direction: column;
    width: 47%;


}
.status__savings p{
    color: white;
    font-family: "SF-pro-medium";
    margin-left: 2vw;
}
.status__savings span{
    font-size: 25px;
    margin-left: 2vw;
}
.status__savings img{
    position: relative;
    margin-top: 2vh;
    width: 160px;
    margin-left: 2vw;
}
.status__assets {
    flex-direction: column;
    display: flex;
    background: rgb(128, 0, 98);
    width: 47%;

}
.status__assets span{
    margin-left: 5vw;
    font-size: 25px;
}
.status__savings span:hover{
    transition: 0.8s;
    width: 2vw;
}
.status__assets p{
    font-family: "SF-pro-medium";
    color: white;
    margin-left: 5vw;
}
.status__assets img{
    position: relative;
    margin-top: 2vh;
    width: 160px;
    margin-left: 3vw;
}
.section__2 {
    background: rgb(128, 128, 128);
    margin-top: 4vh;
    border-radius: 12vw;
    height: 80vh;
}
.activities {
    display: flex;
    flex-direction: column;
    padding: var(--space-layout-padding-t);
    background: goldenrod;
    border-radius: 5vw;
}
.activities h3{

    margin-top: 3vh;
    font-size: 7vw;
    font-family: "SF-pro-bold";
    background: blue;
    height: 30px;
}
.cont__activity{
    background: rgb(255, 255, 255);
    display: flex;
    overflow-y: scroll;
    
}
.container__content {
    display: grid;
    flex-direction: column;
    margin-top:5vh;
    border: 2px solid rgba(219, 212, 212, 0.256);
    background: rgb(255, 255, 255);
    padding: 5vw;
    margin-right: 1vw;
    margin-left: 2vw;
    border-radius: 10%;
    transition: 1s;
}
.container__content:hover{
    box-shadow: 10px 10px 50px #000000;
}
.container__content img{
    width: 60px;
    margin-left: 1.5vw;
}
.container__content p{
    font-size: 4vw;
    margin-top: 1.8vh;
    font-family: "SF-pro-semi-bold";
    text-align: center;
}
.transactions {
    border: 2px solid rgb(2, 2, 2);
    display: grid;
}
.transactions h3{
    font-size: 7vw;
    margin-top: 3vh;
    font-family: "SF-pro-bold";
    margin-left: 3vw;
}

.list__transations {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    background: rgb(255, 255, 255);
}
.list__transations img{
    position: relative;
    width: 16vw;
}
.list__transations p{
    /* background: red; */
    margin-top: 3vh;
    font-size: 5vw;
    font-family: "SF-pro-bold";
    flex-direction: row;
    width: 44vw;
}
.list__transations span{
    margin-top: 11vh;
    width: 30vw;
    font-family: "SF-pro-medium";
}
#parrafo2{
    font-size: 6vw;
    margin-left: 15vw;
}
.cont__fecha{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 10vh;
    /* background: rgb(1, 253, 131); */
}
.cont__fecha p{
    /* margin-left: 30px; */
    margin-top: 9px;
    font: 15px;
    height: 25px;
    width: 65px;
    margin-left: 12vw;
}
.cont__fecha span{
    /* background: red; */
    margin-top: 5px;
    font-size: 15px;
    height: 25px;
    width: 65px;
    justify-content: center;
    margin-left: 12vw;

}




