@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
}
body{
    background: var(--color-primary);
}
.contenedorp {
    display: flex;
    background: rgb(3, 3, 3);
    grid-template-columns: repeat(3,1fr);
    
}
.options {
    display: flex;
    background: rgb(47, 255, 0);
    justify-content: space-between;
    grid-template-rows: 80vh 20vh;
    width: 340px;
}
.options p{
    margin-top: 5vw;
    font-family: "SF-pro-bold";
    color: rgb(16, 16, 16);
    margin-right: 54vw;
    letter-spacing: 2px;
}
.filter{
    display: flex;
    background: rgb(0, 38, 255);
    width: var(--layout-imagen-width);
}
.filter img{
    position: relative;
    margin-left: 4vw;
    width: 9vw;
}
.content__information{
    display: grid;
    background: red;
    margin-top: 10vw;
    padding: 2vw;
}
.content__information h1{
    font-family: "SF-pro-heavy";
    color: white;
}
.content__information span{
    font-family: "SF-pro-light";
    margin-top: 3vw;
    color: white;
    font-size: 10vw;
}
.conten__status {
    display: flex;
    background: blue;
    margin-top: 6vw;
}
.status__savings {
    display: flex;
    background: green;
}
.status__savings p{
    margin-left: 2vw;
}
.status__savings span{
    margin-top: 6vw;
    margin-right: 40vw;
}
.status__assets {
    display: flex;
    background: rgb(128, 0, 98);
}


