<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/balance.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="contenedorp">
        <div class="options">
            <img src="../storage/img/logo.svg">
            <p class="text">NOVABANK</p>
        </div>
        <div class="filter">
            <img src="../storage/img/menu.svg" alt="">
        </div>
    <header class="investing tips">
        <h1 class="title">investing tips</h1>
        <div class="container">
            
        </div>
    </header>
</body>
</html>