<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/balance.css">
    <link rel="stylesheet" href="../css/balance.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="contenedorp">
        <section class="section1">
            <article class="options">
                <img src="../storage/img/accouts.svg">
                <p class="text">NOVABANK</p>
            </div>
            <div class="filter">
                <img src="../storage/img/menu.svg" alt="">
            </div>
            </article>
        </section>
    </header>
       <section class="section2">
        <article class="investing-tips">
            <p class="text">investing tips</p>
            <div class="container-pig">
               <div class="learn-More"> 
                <div class="learn-More2">              
                    <div class="black">
                        <img src="../storage/img/pig.svg" alt="">
                    </div>
                </div>
                <div class="learn-More3">
                    <p class="parra">What is an ETF?</p>
                    <span>By William J, PHD</span>
                    <button>LEARN MORE</button>
                </div>
               </div>
                <div class="learn-More"> 
                <div class="learn-More2">              
                    <div class="black">
                        <img src="../storage/img/security.webp" alt="">
                    </div>
                </div>
                <div class="learn-More3">
                    <p class="parra">what is master security?</p>
                    <span>By William J, PHD</span>
                    <button>LEARN MORE</button>
                </div>
               </div>
            </div>
            </div>

           
               
        </article >
       </section>
</body>
    
</html>

