<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/balance.css">
    <link rel="stylesheet" href="../css/balance.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="contenedorp">
        <section class="section1">
            <article class="options">
                <img src="../storage/img/novabank (2).png">
                <p class="text">NOVABANK</p>
            </div>
            <div class="filter">
                <img src="../storage/img/menu.svg" alt="">
            </div>
            </article>
        </section>
    </header>
       <section class="section2">
        <article class="investing-tips">
            <p class="text">investing tips</p>
            <div class="container-pig">
                <div class="dad-learn-More">
                <div class="learn-More"> 
                    <div class="learn-More2">              
                        <img src="../storage/img/pig.svg" class="images">
                    </div>
                    <div class="learn-More3">
                        <p class="parra">What is an ETF?</p>
                        <span>By William J, PHD</span>
                        <button>LEARN MORE</button>
                        <img src="../storage/img/simbolo-x.svg" class="x">
                    </div>
                </div>
                <div class="learn-More">
                    <div class="learn-More2">                                
                        <img src="../storage/img/security.webp" class="images">
                    </div>
                    <div class="learn-More3">
                        <p class="parra">Master security?</p>
                        <span>By William J, PHD</span>
                        <button>LEARN MORE</button>
                        
                    </div>
                </div>
            </div>
        </div>


        <article class="investing-tips">
            <p class="text">My cards</p>
        <div class="container-pig">
            <div class="dad-learn-More">
            <div class="learn-More-cards"> 
            <img src="../storage/img/chip.svg" class="chips-cards">
             <p class="numer-card">*****0574</p>
             <div class="cost">
                <span>$32.890.000.00</span>
                <img src="../storage/img/bancolombia.svg" class="met-pago">
                <img src="../storage/img/fondo(1).svg" class="fondo">
                <img src="../storage/img/bubrbuje.svg" id="burbuje">
            </div>
            </div>
            <div class="learn-More-cards2">
            <img src="../storage/img/chip.svg" class="chips-cards">  
            <p class="numer-card">*****6162</p>
            <div class="cost">
                <span>$10.890.000.00</span>
                <img src="../storage/img/bogota.svg" class="met-pago">
                <img src="../storage/img/bubrbuje.svg" class="fondo">
                <img src="../storage/img/fondo(1).svg" class="fondo1">
                


            </div>   
                </div>
                <div class="learn-More-cards3">
                    <img src="../storage/img/chip.svg" class="chips-cards">  
                    <p class="numer-card">*****6100</p>
                    <div class="cost">
                        <span>$10.890.000.00</span>
                        <img src="../storage/img/american-express.png" id="american-express">
                        <img src="../storage/img/bubrbuje.svg" class="fondo">
                        <img src="../storage/img/fondo(1).svg" class="fondo1">

                    </div>   
                        </div>
            </div>
        </div>
    </div>     
        </article >
       </section>
       <footer class="footer">
        <ul class="footer__ul">
         
            <li>
                <a href="#">
                
                    <img id="shopping" onclick="window.location.href ='../views/list-cards.html'"src="../storage/img/book.svg">
                </a>
            </li>
            <li>
              <img src="../storage/img/notificaciones.svg">
            </li>
            <li>
                <img src="../storage/img/casa.svg" alt="">
            </li>
            <li>
                <a href="#">
                    <img id="shopping" onclick="window.location.href ='../index.html'"src="../storage/img/profile.svg">
                </a>

            </li>
        </ul>
    </footer>
</body>
    
</html>

