<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/list-cards.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section1">
        <img src="../storage/img/fondo(1).svg" id="fondo">  
    </section>
    <header class="contenedorp">
            <img src="../storage/img/novabank (3).png" class="nova">
            <p class="text">NOVABANK</p>
            <img src="../storage/img/menu.svg">
        
    </header>
    <div class="balance">
        <p>total balance</p>
        <span>$45.658.000.00</span>
    </div>
    <div class="botones">
        <button>Assets</button><button>Debt</button><button>Income</button>
    </div>
    <div class="price">
        <p>$500</p>
        <span>$541</span>
    </div>
    <div class="graphic">
        <div class="graphic__img">
            <img src="../storage/img/graphic.svg">
        </div>
    </div>
    <div class="days">
        <button>S</button>
        <button>M</button>
        <button>T</button>
        <button>W</button>
        <button>T</button>
        <button>F</button>
        <button>S</button>
    </div>
    <div class="container-pig">
        <div class="dad-learn-More">
        <div class="learn-More"> 
            <div class="learn-More2">              
                <img src="../storage/img/tarjet.svg" class="images">
            </div>
            <div class="learn-More3">
                <p class="parra">Alert</p>
                <span>◙you forgot to add debt card number at payment. Add it now.</span>
                <img src="../storage/img/simbolo-x.svg" class="x">
            </div>
        </div>
        <div class="learn-More">
            <div class="learn-More2">                                
                <img src="../storage/img/security.webp" class="images">
            </div>
            <div class="learn-More3">
                <p class="parra">Master security?</p>
                <span>By William J, PHD</span>
                <img src="../storage/img/simbolo-x.svg" class="x2">
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <ul class="footer__ul">
     
        <li>
            <a href="#">
            
                <img id="shopping" onclick="window.location.href ='../views/list-cards.html'"src="../storage/img/book.svg">
            </a>
        </li>
        <li>
          <img src="../storage/img/notificaciones.svg">
        </li>
        <li>
            <img src="../storage/img/casa.svg" alt="">
        </li>
        <li>
            <a href="#">
                <img id="shopping" onclick="window.location.href ='../index.html'"src="../storage/img/profile.svg">
            </a>

        </li>
    </ul>
</footer>
</body>

</html>