<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/list-cards.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section1">
        <img src="../storage/img/fondo(1).svg" id="fondo">
        
    </section>
    <header class="contenedorp">
        <div class="options">
            <img src="../storage/img/novabank (3).png" id="nova">
            <p class="text">NOVABANK</p>
        </div>
        <div class="filter">
            <img src="../storage/img/menu.svg" id="button-filter">
        </div>

    </header>
</body>
</html>